@import "../../shared_styles/container";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  input {
    margin-bottom: 0.5rem;
    height: 2rem;
  }
  button {
    border: none;
    background: #007bff;
    padding: 5px;
    color: #fff;
    cursor: pointer;
  }
}
